<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:name=".VSApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vdts_voiceselect_icon"
        android:label="@string/voice_select_application_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoiceSelectGeneral"
        tools:replace="android:theme,android:icon">

        <activity
            android:name=".library.activities.VDTSMainActivity"
            android:label="@string/main_activity_label"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".library.activities.VDTSLoginActivity"
            android:label="@string/login_activity_label" />

        <activity android:name=".library.activities.VDTSMenuActivity"
            android:label="@string/menu_activity_label" />

        <activity android:name=".activities.dataGathering.DataGatheringActivity"
            android:label="@string/data_gathering_activity_label" />

        <activity android:name=".activities.dataGathering.IristickCameraActivity"
            android:label="@string/iristick_camera_activity_label" />

        <activity android:name=".library.activities.configure.VDTSConfigMenuActivity"
            android:label="@string/config_activity_label" />

        <activity android:name=".library.activities.configure.VDTSConfigUsersActivity"
            android:label="@string/config_users_activity_label" />

        <activity android:name=".library.activities.configure.VDTSConfigUserPreferencesActivity"
            android:label="@string/config_user_preferences_activity_label" />

        <activity android:name=".activities.configure.ConfigColumnsActivity"
            android:label="@string/config_columns_activity_label" />

        <activity android:name=".activities.configure.ConfigColumnValuesActivity"
            android:label="@string/config_values_activity_label" />

        <activity android:name=".activities.configure.ConfigLayoutsActivity"
            android:label="@string/config_layout_activity_label" />

        <activity android:name=".activities.SettingsActivity"
            android:label="@string/menu_settings_activity_button" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ca.vdts.voiceselect"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>